<h1>Cart</h1>
<hr />

<table id="cartViewTable">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Amount</th>
  </tr>
  <tr id="noCartItemsMessage">
    <td colspan="3">Nothing here, check out the menu and add something to the cart!</td>
  </tr>

</table>

<div id="cartErrorMessage" class="formError">
  Unable to load the cart, something is terribly wrong!
</div>

<div id="goToMenuCTA" class="ctaWrapper">
  <a class="cta green" href="menu">Go to menu</a>
</div>

<div id="createOrderCTA" class="ctaWrapper">
  <a class="cta green" href="order/create">Place order</a>
</div>

<div class="addError">There was an error adding/removing item(s) to the cart!</div>