<h1>Papa's Pizza Palace</h1>
<h2>Delicious pizza - only a few clicks away!</h2>

<div class="blurb">We deliver delicous pizza from our authentic Italian stone oven.<br><br>Sign in to place an order, or sign up if you haven't already!<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et congue leo. Donec non congue arcu, quis rutrum ipsum. Sed ipsum tellus, pretium et orci ut, ultricies venenatis metus. Sed faucibus orci eget viverra feugiat. Vestibulum eu enim vel odio rutrum ultrices. Aliquam suscipit magna sit amet leo elementum maximus at at urna. Etiam facilisis ornare augue, non pulvinar nisl aliquam sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eu felis lacus. In tristique vel erat porta auctor. Donec at turpis efficitur, vehicula est non, pharetra est.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
